<!--  This file is app/views/movies/index.html.erb -->
<h2>All Movies</h2>

<%#  Part 1: Start here... %>
<%= form_tag movies_path, method: :get, id: 'ratings_form' do %>
  Include:
  <% @all_ratings.each do |rating| %>
    <div class="form-check  form-check-inline">
      <%= label_tag "ratings[#{rating}]", rating, class: 'form-check-label' %>
      <%= check_box_tag "ratings[#{rating}]", "1",  @ratings_to_show.include?(rating), class: 'form-check-input' %>
    </div>
  <% end %>
  <%= hidden_field_tag 'selected_ratings', @ratings_to_show.map { |rating| [rating, '1'] }.to_h.to_json %>
  <%= hidden_field_tag :untick, 1 %>
  <%= submit_tag 'Refresh', id: 'ratings_submit', class: 'btn btn-primary' %>
<% end %>

<table class="table table-striped col-md-12" id="movies">
  <thead>
    <tr>

      <th class="<%= @title_header_class %>">
        <a id="title_header" href="<%= movies_path(sort_by: 'title', selected_ratings: URI.encode(@ratings_to_show.map { |rating| [rating, '1'] }.to_h.to_json) ) %>">
          Movie Title
        </a>
      </th>
      
      <th>Rating</th>

      <th class="<%= @release_date_header_class %>">
        <a id="release_date_header" href="<%= movies_path(sort_by: 'release_date', selected_ratings: URI.encode(@ratings_to_show.map { |rating| [rating, '1'] }.to_h.to_json) ) %>">
          Release Date
        </a>
      </th>

      <th>More Info</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td>
          <%= movie.title %>
        </td>
        <td>
          <%= movie.rating %>
        </td>
        <td>
          <%= movie.release_date %>
        </td>
        <td>
          <%= link_to "More about #{movie.title}", movie_path(movie) %>
          <%= hidden_field_tag :previous_url, 1 %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add new movie', new_movie_path, :class => 'btn btn-primary' %>
